body {
  margin: 0;
  background-color: rgb(150, 219, 198);
}

h1 {
  text-align: center;
}

main {
}
ul {
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
  padding: 20px;
}
.card {
  background-color: #6666ee;
   margin: auto;
   width: 50%;
}
.card img{
  display: block;
  width: 90%;
  margin: 0 auto 10px auto;
}
.card p {
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}
footer {
  margin-top: 20px;
}
p {
  text-align: right;
  margin: 10px 20px 10px auto;
}
